* {
    font-family: Arial;
}

#task-form {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #88888878;
}

#task-form form {
    background-color: white;
    border: 1px solid #333;
    width: 1500px;
    padding: 20px;
}

#task-form h2 {
    margin-top: 0;
}

#task-form label {
    display: block;
}

#task-form form > * {
    margin-bottom: 5px;
}

#update-form {
     display: none;
     align-items: center;
     justify-content: center;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 10;
     background-color: #88888878;
 }

 #update-form form {
     background-color: white;
     border: 1px solid #333;
     width: 1500px;
     padding: 20px;
 }

 #update-form h2 {
     margin-top: 0;
 }

 #update-form label {
     display: block;
 }

#update-form form > * {
    margin-bottom: 5px;
}

h4 {
    margin-bottom: 0;
}
html, body {
background-color:WhiteSmoke
}

.equation_body{
    max-width:80%;
    margin-left:auto;
    margin-right:auto;
    padding:5%;
    /*background-color:pink;*/
    display:flex;
    justify-content:space-evenly;
}

.result{
    width:50%;
    display:flex;
    justify-content:space-between;
}

.equation_main{
    padding:1%;
    width:40%;
    border:1px solid black;
    background-color:WhiteSmoke;
}

.equation_upr{
    padding:1%;
    width:40%;
    border:1px solid black;
    background-color:WhiteSmoke;
}

.green_text{
    color:green
}

.red_text{
    color:red
}

.button{
    /*height:100%;*/
    border-radius:10%;
    cursor:pointer;
}